# SPDX-FileCopyrightText: The vmnet-broker authors
# SPDX-License-Identifier: Apache-2.0

# Products
/test-c
/test-go
/test-swift
/vmnet-broker

# Swift
/swift/.build/
/swift/Package.resolved

# Go
/go/test

# Test vms
/.vms/
/.cache/

# macOS metadata
.DS_Store
