# Products
/*.a
/*.o
/test-c
/test-go
/test-swift
/vmnet-broker

# Swift
/swift/.build/
/swift/Package.resolved
/swift/Frameworks/

# Go
/go/test

# Test vms
/.vms/
/.cache/

# macOS metadata
.DS_Store
