<?xml version="1.0" encoding="UTF-8"?>
<!--
SPDX-FileCopyrightText: The vmnet-broker authors
SPDX-License-Identifier: Apache-2.0
-->
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.github.nirs.vmnet-broker</string>
    <key>Program</key>
    <string>/Library/Application Support/vmnet-broker/vmnet-broker</string>
    <key>MachServices</key>
    <dict>
        <key>com.github.nirs.vmnet-broker</key>
        <true/>
    </dict>
    <key>UserName</key>
    <string>_vmnetbroker</string>
    <key>EnableTransactions</key>
    <true/>
    <key>ExitTimeout</key>
    <integer>60</integer>
    <key>StandardErrorPath</key>
    <string>/Library/Logs/vmnet-broker/vmnet-broker.log</string>
</dict>
</plist>
