<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.github.nirs.vmnet-broker</string>
    <key>ProgramArguments</key>
    <array>
        <string>/Library/Application Support/vmnet-broker/vmnet-broker</string>
    </array>
    <key>MachServices</key>
    <dict>
        <key>com.github.nirs.vmnet-broker</key>
        <true/>
    </dict>
    <key>UserName</key>
    <string>_vmnetbroker</string>
    <key>StandardErrorPath</key>
    <string>/Library/Logs/vmnet-broker/stderr.log</string>
</dict>
</plist>
